<h2>Your Word List:</h2>
<ul>
  #foreach ($word in $words)
    <li><a href="/words/$word.getId()">$word.getName()</a></li>
  #end
</ul>
<a class="btn btn-default" href="/words/new">Add Another Word to Your Dictionary</a>
