<h1>Welcome to Dictionary!</h1>
<h2>An Online User Dictionary</h2>
<h3>This application allows you the ability to create your own list of words with their definitions.</h3>

<a class="btn btn-default" href="/words/new">Enter a Word into the Dictionary</a>
