<h1>Welcome to Dictionary!</h1>
<h4>AN ONLINE USER DICTIONARY</h4>
This application allows you the ability to create your own list of words with their definitions.

<a class="btn btn-default" href="/words/new">Start Your Dictionary</a>
