<h2>You have successfully added your word to the dictionary!</h2>

<form action="/definitions" method="post">
<input type="hidden" name="wordId" id="wordId">

<label for="definition">What is the definition of your word?</label>
<input id="definition" type="text" name="definition">

<button type="submit" class="btn btn-default" name="button">Add Definition</button>
</form>
  
