<h1>Add a Word to Your Dictionary</h1>

<form action="/words" method="post">
  <label for="name">Enter a Word to Add to Your Dictionary</label>
  <input id="name" type="text" name="name">

  <button type="submit" class="btn btn-default">ADD WORD</button>
</form>
